---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import getRandomArchivePosts from "@utils/getRandomArchivePosts";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
const archivePosts = getRandomArchivePosts(
  posts,
  featuredPosts,
  recentPosts,
  4
);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>What Comes Next_</h1>
      <p>
        I've been thinking a lot about, and experimenting a lot with, the uses
        of AI — its promises, possibilities, pitfalls, and especially its
        uncanny (in many senses) insights into the shape of the human cultural
        corpus. ¶ Large Language models work in the principle of a predicting
        the next element in sequence of tokens — of words and fragments: given
        what came before, what comes next? ¶ The posts here combine older work
        and new, in the form of a collage, an experimenter's log, and a
        commonplace book.
      </p>
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    {
      archivePosts.length > 0 && (
        <>
          <Hr />
          <section id="archive-posts">
            <h2>Archived</h2>
            <ul>
              {archivePosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
        </>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/"> All Posts &gt; </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block font-serif text-3xl sm:my-8 sm:text-5xl;
  }
  #hero p {
    @apply font-serif my-2 text-2xl;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured, Recent, & Archive Posts Sections ===== */
  #featured,
  #recent-posts,
  #archive-posts {
    @apply font-serif pb-6 pt-12 text-2xl flex flex-col sm:flex-row sm:items-baseline gap-4;
  }
  h2 {
    @apply font-serif sm:w-1/4 text-xl font-medium my-0 pt-0;
  }
  ul {
    @apply font-serif sm:w-3/4 mt-0;
  }

  li {
    @apply my-0;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
