---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
  tag: string;
  tagName: string;
}

const { currentPage, totalPages, paginatedPosts, tag, tagName } = Astro.props;

// Improved function to split emoji from tag name
function splitEmojiTag(tag: string) {
  // This regex matches any emoji sequence at the start of the string
  const emojiRegex =
    /^(\p{Emoji_Presentation}|\p{Emoji}\uFE0F|\p{Emoji_Modifier_Base}\p{Emoji_Modifier}?)+/gu;

  const match = tag.match(emojiRegex);

  if (match && match[0]) {
    const emoji = match[0];
    const text = tag.replace(emoji, "").trim();
    return { emoji, text };
  }

  return { emoji: null, text: tag }; // Return original tag if no emoji found
}

const { emoji, text } = splitEmojiTag(tagName);
---

<Layout title={`Tag: ${tagName} | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main>
    <h1 class="text-2xl font-serif sm:text-3xl mt-1 mb-2" transition:name={tag}>
      {emoji && <span class="emoji">{emoji}</span>}
      {text}
    </h1>
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/posts/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/tags/${tag}${
      currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""
    }/`}
    nextUrl={`/tags/${tag}/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
