---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  tag: string;
  entries: CollectionEntry[];
}

function splitEmojiTag(tag: string) {
  const emojiRegex = /(\p{Emoji})/gu; // Regex to match emojis
  const match = tag.match(emojiRegex);
  if (match) {
    const emoji = match[0];
    const text = tag.replace(emoji, "").trim();
    return `<span class="emoji">${emoji}</span> ${text}`; // Wrap emoji in span
  }
  return tag; // Return original tag if no emoji found
}
---

<Layout>
  <Header />
  <Main>
    <h1>Posts tagged with <span innerHTML={splitEmojiTag(tag)}></span></h1>
    <ul>
      {
        entries.map(entry => (
          <li>
            <Card entry={entry} />
          </li>
        ))
      }
    </ul>
    <Pagination currentPage={currentPage} totalPages={totalPages} />
  </Main>
  <Footer />
</Layout>
